<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" />
	</configSections>

	<!-- 
		Remove /ExampleWebSite from the baseInsecureUri and /SecureExampleWebSite baseSecureUri attributes values to test without an application path.
		Note: You'll need to set the website up in IIS/IIS Express to not use an application path to test the above scenario.
	-->
	<securitySwitch xmlns="http://SecuritySwitch-v4.xsd" baseInsecureUri="http://localhost:8042/ExampleWebSite" baseSecureUri="https://localhost:44342/SecureExampleWebSite">
		<paths>
			<!-- Secure the root Login.aspx page, as well as the Admin and Manage sub-directories (and anything under them). -->
			<add path="~/Login.aspx" />
			<add path="~/Admin" />
			<add path="~/Manage" />

			<!-- 
				Ignore all requests for files in the Media sub-directory. 
				* This will keep the same protocol as the page when images or stylesheets are requested.
			-->
			<add path="~/Media/" security="Ignore" />


			<!--
				This will only work when pageId=2 is the first (or only) parameter in the query string. 
				Note: This will also match pageId=24 and similar. If pageId is the only parameter for that page, 
				      you could use matchType="Exact" avoid matching pageId=24.
			-->
			<!--<add path="~/Cms/Default.aspx?pageId=2" />-->

			<!-- However, this will work regardless of where pageId=2 is in the query string. -->
			<add path="~/Cms/Default\.aspx\?([a-zA-Z0-9\-%_= ]+&amp;)*pageId=2(&amp;[a-zA-Z0-9\-%_= ]+)*$" matchType="Regex" />
		</paths>
	</securitySwitch>

	<appSettings />
	<connectionStrings />
	<system.web>
		<compilation debug="true" />
		<authentication mode="Forms">
			<forms name="SecureSwitchExampleAuth" protection="All" path="/" defaultUrl="~/Default.aspx" loginUrl="Login.aspx">
				<!-- Do NOT do this...EVER. -->
				<credentials passwordFormat="Clear">
					<user name="tperson" password="password" />
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<machineKey 
			validationKey="FE3601461EA04AC6B0353CF5C211315BAB907F5446BCED74C481C6E748447957E11DF3672728CA77E0E4A464BF934040B212B4C7787C40DFBB400BEF801C7F11" 
			decryptionKey="A1A32EA49EFF576A60D21EF18A3A19A2B21E0B194ECB511F30F632D1CD1C71C7" 
			validation="SHA1" decryption="AES" />

		<httpModules>
			<add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
		</modules>
	</system.webServer>
</configuration>