<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" />
	</configSections>

	<securitySwitch>
		<paths>
			<add path="/ExampleWebSite/Manage" />
		</paths>
	</securitySwitch>
	
	<appSettings />
	<connectionStrings />
	<system.web>
		<compilation debug="true" />
		<authentication mode="Forms">
			<forms defaultUrl="~/Default.aspx" loginUrl="Login.aspx">
				<!-- Do NOT do this...EVER. -->
				<credentials passwordFormat="Clear">
					<user name="tperson" password="password" />
				</credentials>
			</forms>
		</authentication>

		<httpModules>
			<add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
		</httpModules>
	</system.web>
</configuration>